* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  font-size: 1.8rem;
  color:silver;
  border-radius:3px;
  border:1px solid rgba(0, 0, 0, .4);
}

select {
  font-size: 1.8rem;
  color:gray;
  border-radius:3px;
  border:1px solid rgba(0, 0, 0, .4);
  margin-left:4px;
}

.wrapper {
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }

  .search {
    margin-top:1rem;
    border-radius:10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .15);;
    padding:1rem;
  }

.card {
  width:20%;
  margin:2rem;
  border:1px solid gray;
  
  }

.card img {
  height:220px;
  width:100%;
  max-width:382px;
  transition: all ease-in-out .3s;
  }

.card img:hover {
  opacity: .8;
  cursor: pointer;
}

.card:hover .photo {
  background-color: black;
}

.card:hover .modal-open {
  color:gray;
}

.photo {
  display:flex;
  justify-content: space-between;
  color:white;
  padding:1rem;
  background-color: rgba(0, 0, 0, .4);
  transition: all ease-in-out .3s;
}

.modal-open {
  color:black;
  transition: all ease-in-out .3s;
  cursor: pointer;
 }

 .modal-open:hover {
  color:white;
 }

.modal {
  position: absolute;
  top:0;
  left:0;
  display:none;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  color:black;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, .4);
}

.modal-active {
  position: absolute;
  top:0;
  left:0;
  display:flex;
  pointer-events: all;
  justify-content: center;
  color:white;
  font-size: 6rem;;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, .4);
}

.modal-active img {
  cursor: pointer;
  max-width:1280px;
  max-height: 1280px;
}

.close-modal {
  position: relative;
  right:2%;
  top:0;
  font-size: 1.5rem;
  font-weight: 600;
}

@media (max-width:900px) {

  input {width:70%;}
  
  .wrapper {
    width:100%;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    }

    .search {
      margin-top:1rem;
      border-radius:10px;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, .15);;
      padding:.4rem;
    }

    .card {
      width:382px;
      margin:2rem;
      border:1px solid gray;
      
      }

      .card img {
        height:220px;
        width:100%;
        max-width:382px;
        transition: all ease-in-out .3s;
        }



        .modal-active img {
          width:80%;
          height:50%;
          position: relative;
          top:40px;
          border:1px solid white;
          
          
        }

        .close-modal {
          position: relative;
          top:40px;
          right:6%;
          font-size: 2rem;
        }


}
